# Bloquer l'accès à tout fichier .ht
<Files ~ "^\.ht">
  Order allow,deny
  Deny from all
</Files>
<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

# Rediriger les tentatives d'accès directes aux répertoires internes
RewriteEngine On
RewriteRule ^(app|includes|vendor) - [F,L]

# Configurer une page d'erreur personnalisée
ErrorDocument 403 /public/403.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]