

/* ALL THE COLORS OF THIS PROJECT */


.colors{
    /* BACKGROUND */
    color: #fff7ed;
    /* PATH */
    color: #b8a283;
    /* PATH 2nd */
    color: #2b231f;
    /* BLOCS */
    color: #e7d9c8;
    /* DROPDOWNS */
    color: rgb(139, 112, 90);
    /* HEADER */
    color: #2b231f;
    /* BACKGROUND */
    color: #fff7ed;
    /* PATH */
    color: #b29586;
    /* PATH 2nd */
    color: #2b231f;
  }