
/*----------------------------------------------------------------------------------------------*/
/*body*/
body{
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
    background: #fff7ed;
    min-height: 100vh;
    position: relative;
    padding-bottom: 115px;
    min-height: 100vh;
    font-size: 100%
  }

  p {
    font-size: 1em;
    line-height: 1em;;
  }

@media screen and (max-width: 90em) {
  p {
    font-size: 0.5em;
    line-height: 0.5em;;
  }
}

@media screen and (max-width: 50em) {
  p {
      font-size: 0.25em;
    }
  }
  
  @media screen and (max-width: 30em){
    p {
      font-size: 0.125em;
    }
  }

  @media screen and (max-width: 10em){
    p {
      font-size: 0.0625em;
    }
  }


.text{
  background-color: #e7d9c8;
  text-align: center;
  font-size:1.2em;
}

.voitures {
    width: 100%;
}

.imgFiche{
 
  width: 45%;
}

.fiche-container{
  padding-top: 50px;
  text-align:center;

}
  
  /*----------------------------------------------------------------------------------------------*/

  /* MAIN */

  main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 100px - 116px);
  }

  /*PATH*/

  .pathButtons{
    margin-top: 30px;
    margin-left: 116px;
  }

  .boutonPath{
    color: #2b231f;
  }
  .boutonPath:hover{
    color: #b29586;
  }

  .boutonPathActual{
    color: #b29586;
  }

  .boutonPathActual:hover{
    color: #b29586;
  }
  /*PATH*/

  /* INDEX */

  /* INDEX CAROUSEL */
  #carousel-item-index {
    margin-top: 10px;
    width: 100%;
    height: 78%;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  .carousel-control-prev{
    cursor: pointer;
  }

  .space{
    margin-top: 20px;
  }

  #carousel-item-index-active{
    margin-top: 10px;
    width: 100%;
    height: 78%;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* INDEX BLOCS */

  .bloc-index{
    background: #2b231f;
    padding: 5px 0;
    text-align: center;
  }

  .bloc-index-info{
    background: #b8a283;
    padding: 100px 0;
    text-align: center;
  }

  /* INDEX */

  /*------FICHE-------*/

  /*------FICHE1-------*/
  .article-div-fiche{
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20px;
    padding-bottom: 95px;
  }

  .article-fiche-name{
    
    background-color: #c6baab;

  }

  .h5Title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -30px;

  }


  .ficheConstruct{
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    color: #3e2f25;
  }

  .ficheType{
    text-align: right;
    margin-top: -28px;
    font-weight: bold;
    color: #3e2f25;
  }

  h5{
    text-align: center;

  }

  .nomWidgetFiche{
    font-size: 0.9em;
  }

  .spanNomConstructeur{
    font-weight: bold;
  }

  .spanNomAnnee{
    color: #7b533d;
    font-weight: bolder;
  }


  /*------FICHE2-------*/
  .article-div-fiche-2{

    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20px;
    margin-top: -40px;

  }

  .article-fiche-name2{

    background-color: #e9e0cd;

  }

  /*------FICHE3-------*/
  .article-div-fiche-3{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0px;

  }

  .article-fiche-name3{

    background-color: #e9e0cd;

  }

  /*------FICHE4-------*/
  .article-div-fiche-4{

    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20px;
    margin-top: -40px;

  }

  
/*---------------------------*/

  article {
    background-color: #e7d9c8;
    padding: 20px;
    margin-bottom: 0px;
  }
  article:last-child {
    margin-bottom: 0;
  }
  article h1{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: #463232;
  }
  article h2{
    margin-top: -35px;
    text-align: center;
    color: #6b5b51;
  }
  article h3{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0px 0 25px 0;
    color: #7e5e4a;
  }
  article p{
    color: #141414;
    margin-top: 16px;
    line-height: 24px;
  }
  h4{
    color: #ff1e1e;
    text-align: center;
  }
  
  .column {
    z-index: 1;
    float:left;
    width: 20%;
    padding: 3px;
    margin-top: 20px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 300px) {
    .column {
      width: 100%;
    }
  }
  
  .column{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
  .column:hover{
  opacity: .5;
  }
  #colonne{
    margin-left: 0;
    margin-right: auto;
    width: auto;
  }

  /*----------PREFERENCES----------*/
  .rowPreferences{
    display: flex;
  }

  .columnPreferences{
    float:right;
    width: 20%;
    padding: 3px;
    margin-top: 20px;
  }

/* ----------------------------------------------------------------------------------------
  /* Style The Dropdown Button */
  
  small
  {
    color: rgb(83, 71, 59);
  }
  
  div.checkbox_select
  {
    width: 250px;
  }
  
  .checkbox_select_anchor
  {
    display: block;
    background: rgb(139, 112, 90);
    color: white;
    cursor: pointer;
    padding: 10px 5px 5px;
    position: relative;
    text-decoration: none;
  }
  
  .checkbox_select_anchor:after
  {
    width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #e7d9c8;
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
  }
  
  .expanded .checkbox_select_anchor:after
  {
      border-top: 0;
      border-bottom: 10px solid #e7d9c8;
  }
  
  
  .checkbox_select_anchor:hover
  {
    background: #3f2d23 !important;
    color :rgb(255, 255, 255);
    text-decoration: none;
  }
  

  
  div.checkbox_select .select_input
  {
      width: 100%;
      cursor: pointer;
  }
  
  .checkbox_select_dropdown
  {
      display: none;
      background: whitesmoke;
  }
  
  .checkbox_select_dropdown.show
  {
    z-index:2;
      display: block;
      position: absolute;
  }
  
  .checkbox_select_dropdown ul
  {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid #999;
    border-top: 0;
    border-bottom: 0;
  }
  .checkbox_select_dropdown ul li
  {
      list-style: none;
      position: relative;
      color: #666;
  }
  .checkbox_select_dropdown ul li label
  {
    position: relative;
        padding: 10px 5px 5px 40px;
       display: block;
    cursor: pointer;
  }
  .checkbox_select_dropdown ul li label:hover
  {
    background: #cbcbcb;
    color: white;
  }
  .checkbox_select_dropdown ul li input:checked + label
  {
    background: #bbb;
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
  }
  .checkbox_select_dropdown ul li input
  {
    position: absolute;
    left:10px;
    z-index:2;
    display: inline-block;
    height: 100%;
    width: 20px;
  }
  .checkbox_select_search
  {
      width: 250px;
      padding: 10px 5px 5px;
      border: 1px solid #999;
        border-top: 0;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
  }
  
  .checkbox_select_submit
  {
      background: #d4bcb1;
      color: white;
      padding: 10px 5px 5px;
      border: 0;
      width: 100%;
      font-size: 14px;
      cursor: pointer;
  }

  .checkbox_select_submit:hover
  {
      background: #ad8d7e;
      color: white;
      padding: 10px 5px 5px;
      border: 0;
      width: 100%;
      font-size: 14px;
      cursor: pointer;
  }
  
  .hide
  {
      display: none;
  }
  
  /* -------------------------------------------------------------------------------------------------------------- */
  
    .checkboxs{
      display: inline-block;
    }

  /* CONTENT VOITURES.php */

  .errorCarNotFind{
    margin-top: 20px;
  }
  
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/

  /* HEADER top-top */
  .header-top-top{
    background: #2b231f;
    padding: 20px 0;
    text-align: left;
  }
  .logo {
    margin-bottom: 20px;
  }
  .box{
    position: sticky;
    margin-left: 10px;
  }
  
  input.submit{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .textSearch{
    background-color: rgb(255, 255, 255);
    border: none;
    height: 27px;
    padding: 0 15px;
    border-radius: 25px 0 0 25px;
    outline: none;
  
  }
  .submit{
    left: -5px;
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 70px;
    border: none;
    outline: none;
    background-color: #4777fc;
    color: #ffffff;
  }
  .submit:hover{
    background-color: #ff1e1e;
  }
  /* HEADER top */
  .header-top{
    background: #2b231f;
    padding: 20px 0;
    text-align: center;
  }
  
  img{
    width: 170px;
    margin-top: -47px;
  }
  
  /*----------------------------------------------------------------------------------------------*/
  /* mid */
  .header-mid{
    background: #4777fc;
    padding: 2px 0;
    text-align: center;
  }
  /*----------------------------------------------------------------------------------------------*/
  /* DEROULANT */
  
  nav{
    z-index: 10;
    width: 100%;
    margin: 2 auto;
    background-color: #ffffff;
    transition: 0.5s;
  }
  
  nav ul{
    list-style-type: none;
  }
  
  nav ul li{
    float: left;
    width: 11%;
    text-align: center;
    position: relative;
  }
  
  nav ul::after{
    content: "";
    display: table;
    clear: both;
  }
  
  nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
  }
  
  nav a:hover{
    color: #4777fc;
    
  }
  
  .sous{
    z-index: 10;
    border-top: 4px solid #ffffff;
    display: none;
    box-shadow: 0px 1px 2px rgb(173, 173, 173);
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  nav > ul li:hover .sous{
    display: block;
  }
  .sous li{
    float: none;
    width: 100%;
    text-align: left;
  }
  .sous a{
    padding: 10px;
    border-bottom: none;
  }
  .sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
    z-index: 100; 
  }
  .deroulant > a::after{
    content:" ⚫";
    font-size: 12px;
  }
  /*----------------------------------------------------------------------------------------------*/
  /* bot */
  .header-bot{
    margin-top: -16px;
    background: #e43535;
    padding: 2px ;
    text-align: center;
    position: sticky;
  }
  
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
     /*----------------------------------------------------------------------------------------------*/
  /* voitures */
  
  /*AJOUTER FICHE */

  .addFiche{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 300px;
  }
  /*---------------- DASHBOARD ----------------------*/

  /*AJOUTER CONSTRUCTEUR */

  .addDashboardConstructeur{
    float: left;
    margin-right: 80px;
  }

  .addConstructeur{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteConstructeurH3{
    font-size: 1em;
  }

  /*AJOUTER TYPE */
  
  .addDashboardType{
    float: left;
    margin-top: -22px;
    margin-right: 80px;
  }

  .addType{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteTypeH3{
    font-size: 1em;
  }

  /*AJOUTER MODELE */
  
  .addDashboardModele{
    float: left;
    margin-top: -44px;
    margin-right: 70px;
  }

  .addModele{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteModeleH3{
    font-size: 1em;
  }

  /*AJOUTER ANNEE */
  
  .addDashboardAnnee{
    float: left;
    margin-top: -66px;
    margin-right: 70px;
  }

  .addAnnee{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteAnneeH3{
    font-size: 1em;
  }

  /*AJOUTER PAYS */

  .addDashboardPays{
    float: left;
    margin-top: -90px;
    margin-right: 70px;
  }

  .addPays{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajoutePaysH3{
    font-size: 1em;
  }

  /*AJOUTER GROUPE */

  .addDashboardGroupe{
    float: left;
    margin-top: -115px;
    margin-right: 22px;
  }

  .addGroupe{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteGroupeH3{
    font-size: 1em;
  }

  /*---------------- DASHBOARD ----------------------*/
  
   /*AJOUTER CONSTRUCTEUR */

   @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  background: #d8ecff;
  border-radius: 0.25em;
  border-collapse: collapse;
}
.constructeurDash{
  float: left;
  width: 300px;
}
.typeDash{
  float: left;
  width: 300px;
}
.modeleDash{
  float: left;
  width: 300px;
}
.anneeDash{
  float: left;
  width: 300px;
}
.paysDash{
  float: left;
  width: 300px;
}
.groupeDash{
  float: left;
  width: 300px;
}
th {
  border-bottom: 1px solid #364043;
  color: #010634;
  font-size: 0.85em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #000000;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #ff0000;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: rgb(206, 222, 255);
}

/*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  
  /* FOOTER */
  #scroll_to_top {
    z-index: 20;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 35px;
    right: 55px;
  }
  #scroll_to_top img {
    
    width: 50px;
  }
  
  .footer {
    margin-top: 20px;
    margin-bottom: -150px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

   
    .footer-content{
      bottom: 0px;
      background: #2b231f;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    
    .socials{
      margin-bottom: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0 5rem 0;
    }
    .socials li{
      margin: 0 20px;
    }
    .socials a{
      color: #fff8ed;
    }
    
    .socials a i{
      font-size: 1.1rem;
      transition: color .4s ease;
    
    }
    .socials a:hover i{
      color: #d4c0a1;
    }
  
    /*----------------------------------------------------------------------------------------------*/
  /* bot */
  .footer-bottom{
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #b8a283;
    text-align: center;
  }
  span{
    font-weight: bold;
    color: #262626;
  }
  span:hover{
    color: rgb(127, 77, 23);
    transition: 0.5s;
    cursor:default;
  }
  
  
  /*----------------------------------FICHE------------------------------------------*/

  /*--------------CARD------------------*/

  .cardFiche{
    position: relative;
    background-color: #c6baab;
    margin-top: 30px;
    width: 100%;
    height: 65%;
    box-shadow: 0px 5px 5px #3e2f25;
  }

  .boxTopAndPicture{
    z-index: 5;
    border-radius: 30px;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
  }

  .boxTopPictureFiche{
    border-radius: 15px;
    background-color: #a49480;
    height: 150px;
  }

  .pictureFiche{
    box-shadow: 0px 5px 5px #3e2f25;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
  }
  
  .textFicheConstruct{
    text-align: center;
    color: #3e2f25;
    font-size: 1.7em;
    margin-top: 2.5%;
  }

  /* RESUME */

  .boxLeftResume{
    box-shadow: 10px 5px 5px #3e2f25;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #a49480;
    position: absolute;
    top: 13%; left: 15.1%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 14%;
  }

  .textResumeFiche{
    margin: auto;
    color: #1e1812;
  }

  /* RESUME */

  /* BUTTON DATE */

  .boxButtonLeftDate{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 30%; left: 18.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
  }

  .boxButtonLeftDate:hover{
    background-color: #ffffff;
    transition: 1s;
  }

  .buttonLeftDate{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButtonDateFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftDate{
    position: fixed;
    left: 15%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON DATE */

  /* BUTTON PAYS */

  .boxButtonLeftOne{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 46%; left: 18.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
  }
  
  .boxButtonLeftOne:hover{
    background-color: #ffffff;
    transition: 1s;
  }

  .buttonLeftOne{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButtonOneFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftPays{
    position: fixed;
    left: 15%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON PAYS */

  /* BUTTON TYPE */

  .boxButtonLeftTwo{
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 62%; left: 18.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonLeftTwo:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonLeftTwo{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButtonTwoFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  /* BUTTON TYPE */

  /* BUTTON SEGMENT */

  .boxButtonRightOne{
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 78%; left: 18.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonRightOne:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonRightOne{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButtonOneRightFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftSegment{
    position: fixed;
    left: 15%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON SEGMENT */

  /* BUTTON GROUPE */

  .boxButtonRight2{
    z-index: 2;
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 14%; left: 81.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonRight2:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonRight2{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButton2RightFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftGroupe{
    position: fixed;
    left: 87%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON GROUPE */

  /* BUTTON RESUME */

  .boxButtonRight3{
    z-index: 2;
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 30%; left: 81.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonRight3:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonRight3{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButton3RightFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftResume{
    position: fixed;
    left: 87%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON RESUME */

  /* BUTTON HISTOIRE */

  .boxButtonRight4{
    z-index: 2;
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 46%; left: 81.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonRight4:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonRight4{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButton4RightFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftHistoire{
    position: fixed;
    left: 87%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON HISTOIRE */

  /* BUTTON TECHNIQUE */

  .boxButtonRight5{
    z-index: 2;
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 62%; left: 81.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonRight5:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonRight5{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButton5RightFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftTechnique{
    position: fixed;
    left: 87%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON TECHNIQUE */

  /* BUTTON PHOTOS */

  .boxButtonRight6{
    z-index: 2;
    background-color: #a49480;
    box-shadow: 5px 5px 5px #3e2f25;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 78%; left: 81.5%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 12%;
    transition: 1s;
  }

  .boxButtonRight6:hover{
    background-color: #f5e4cf;
    transition: 1s;
  }

  .buttonRight6{
    display:block;width:100%;height:100%;
    text-decoration: none;
  }

  .textButton6RightFiche{
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #261d15;
  }

  .imgLeftPhoto{
    position: fixed;
    left: 87%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  /* BUTTON PHOTOS */

  /* BOX TITLE */

  .article-fiche-title{
    background-color: #a49480;
  }

  /* BOX TITLE */

  /* TEXT RESUME FICHE */

  .textResumeFiche{
    text-indent: 5%;
    text-align: left;
  }

  /* TEXT RESUME FICHE */

  /* ERROR FICHE */

  .errorFicheNonTrouvee{
    margin-left: 115px;
    padding-top: 50px;
    font-size: large;
    color: #8d1616;
  }

  /* ERROR FICHE */

  /* GALLERY PICTURES */

  div.img {
    margin-right: 15px;
    float: left;
    width: 11.5%;
    cursor: pointer;
    transition: all .3s;
}

div.img:hover {
  opacity: .5;
  transition: all .3s;
}

div.img img {
    width: 100%;
    height: auto;
}

/* GALLERY PICTURES */

/* CARROUSEL PICTURES */

.container {
  margin-top: 8%;
  margin-left: -0.6%;
  width: 50%;
  position: relative;
}

.slides {
  display: none;
}

.prev{
  text-decoration: none;
  color: #000000;
  font-style: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(255, 255, 255, 0.9);
  transition: all .3s;
}

.next{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  position: absolute;
  margin-right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(255, 255, 255, 0.9);
  transition: all .3s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: #000000;
  background: rgba(112, 111, 111, 0.8);
}

.ficheTitreModelePhotos{
  font-size: 1.7em;
  padding-top: 20px;
}

.article-fiche-title-photos{
    margin-left: 0;
    margin-right: auto;
    width: 23.9%;
    height: 15px;
}

/* CARROUSEL PICTURES */

/*----------------------------------FICHE------------------------------------------*/

  