:root {
  --primary-color: #303030; /* Exemple de couleur principale */
  --secondary-color: #242423; /* Exemple de couleur secondaire */
  --accent-color-yellow: #F5CB5C; /* Exemple de couleur d'accentuation */
  --accent-color-white: #E8EDDF; /* Exemple de couleur d'accentuation */
  --accent-color-gray: #CFDBD5; /* Exemple de couleur d'accentuation */
  --accent-color-gray-fiche: rgba(255, 255, 255, 0.8); /* Exemple de couleur d'accentuation */


}
/*----------------------------------------------------------------------------------------------*/
/*body*/
body{
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
    background: var(--primary-color);
    min-height: 100vh;
    position: relative;
    min-height: 100vh;
    font-size: 100%
  }

  p {
    font-size: 1em;
    line-height: 1em;;
  }

@media screen and (max-width: 90em) {
  p {
    font-size: 0.5em;
    line-height: 0.5em;;
  }
}

@media screen and (max-width: 50em) {
  p {
      font-size: 0.25em;
    }
  }
  
  @media screen and (max-width: 30em){
    p {
      font-size: 0.125em;
    }
  }

  @media screen and (max-width: 10em){
    p {
      font-size: 0.0625em;
    }
  }


.text{
  background-color: var(--secondary-color);
  text-align: center;
  font-size:1.2em;
}


.imgFiche{

  width: 45%;
}

.fiche-container{
  padding-top: 50px;
  text-align:center;

}
  
  /*----------------------------------------------------------------------------------------------*/

  /* MAIN */

  main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 100px - 116px);
  }

  /*PATH*/

  .global-pathButtons{
    margin-top: 30px;
    margin-left: 116px;
  }

  .global-boutonPath{
    color: var(--accent-color-white);
  }
  .global-boutonPath:hover{
    color: var(--accent-color-gray);
  }

  .global-boutonPathActual{
    color: var(--accent-color-yellow);
  }

  .global-boutonPathActual:hover{
    color: var(--accent-color-yellow);
  }
  /*PATH*/

  /* INDEX */



  /* INDEX */

  /*------FICHE-------*/

  /*------FICHE1-------*/



  .h5Title{
    margin-top: -30px;

  }


  .ficheConstruct{
    padding-top: 10px;
    text-align: left;
    color: var(--accent-color-yellow);
  }

  .ficheType{
    text-align: right;
    margin-top: -28px;
    color: var(--accent-color-yellow);
  }

  h5{
    text-align: center;

  }




  /*------FICHE2-------*/
  .article-div-fiche-2{

    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20px;
    margin-top: -40px;

  }

  .article-fiche-name2{

    background-color: var(--accent-color-yellow);

  }

  /*------FICHE3-------*/
  .article-div-fiche-3{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0px;

  }

  .article-fiche-name3{

    background-color: var(--accent-color-gray-fiche);

  }

  /*------FICHE4-------*/
  .article-div-fiche-4{

    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20px;
    margin-top: -40px;

  }

  
/*---------------------------*/

  article {
    background-color: var(--accent-color-gray);
    padding: 20px;
    margin-bottom: 0px;
  }
  article:last-child {
    margin-bottom: 0;
  }
  article h1{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: #463232;
  }
  article h2{
    margin-top: -35px;
    text-align: center;
    color: #6b5b51;
  }
  article h3{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0px 0 25px 0;
    color: #7e5e4a;
  }
  article p{
    color: #141414;
    margin-top: 16px;
    line-height: 24px;
  }
  h4{
    color: #ff1e1e;
    text-align: center;
  }
.column {
  z-index: 1;
  float: left;
  width: 20%;
  padding: 3px;
  margin-top: 20px;
  position: relative;
}

  .row{
    margin-bottom: 200px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;

  }
  
  @media screen and (max-width: 300px) {
    .column {
      width: 100%;
    }
  }
  
  .column{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
  .column:hover{
  opacity: .5;
  }
  #colonne{
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  /*----------PREFERENCES----------*/



/* ----------------------------------------------------------------------------------------
  /* Style The Dropdown Button */


  
  
  small
  {
    color: var(--accent-color-gray);
  }
  
  div.checkbox_select
  {
    width: 250px;
  }
  
  .checkbox_select_anchor
  {
    display: block;
    background: var(--accent-color-gray);
    color: var(--secondary-color);
    cursor: pointer;
    padding: 10px 5px 5px;
    position: relative;
    text-decoration: none;
  }
  
  .checkbox_select_anchor:after
  {
    width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid var(--secondary-color);
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
  }
  
  .expanded .checkbox_select_anchor:after
  {
      border-top: 0;
      border-bottom: 10px solid var(--secondary-color);
  }
  
  
  .checkbox_select_anchor:hover
  {
    background: var(--accent-color-white) !important;
    color :var(--secondary-color);
    text-decoration: none;
  }
  

  
  div.checkbox_select .select_input
  {
      width: 100%;
      cursor: pointer;
  }
  
  .checkbox_select_dropdown
  {
      display: none;
      background: whitesmoke;
  }
  
  .checkbox_select_dropdown.show
  {
    z-index:2;
      display: block;
      position: absolute;
  }
  
  .checkbox_select_dropdown ul
  {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid var(--secondary-color);
    border-top: 0;
    border-bottom: 0;
  }
  .checkbox_select_dropdown ul li
  {
      list-style: none;
      position: relative;
      color: var(--secondary-color);
  }
  .checkbox_select_dropdown ul li label
  {
    position: relative;
        padding: 10px 5px 5px 40px;
       display: block;
    cursor: pointer;
  }
  .checkbox_select_dropdown ul li label:hover
  {
    background: var(--accent-color-gray);
    color: white;
  }
  .checkbox_select_dropdown ul li input:checked + label
  {
    background: #bbb;
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
  }
  .checkbox_select_dropdown ul li input
  {
    position: absolute;
    left:10px;
    z-index:2;
    display: inline-block;
    height: 100%;
    width: 20px;
  }
  .checkbox_select_search
  {
      width: 250px;
      padding: 10px 5px 5px;
      border: 1px solid #999;
        border-top: 0;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
  }
  
  .checkbox_select_submit
  {
      background: var(--accent-color-yellow);
      color: white;
      padding: 10px 5px 5px;
      border: 0;
      width: 100%;
      font-size: 14px;
      cursor: pointer;
  }

  .checkbox_select_submit:hover
  {
      background:  var(--accent-color-yellow);
      color: white;
      padding: 10px 5px 5px;
      border: 0;
      width: 100%;
      font-size: 14px;
      cursor: pointer;
  }
  
  .hide
  {
      display: none;
  }

.rowPreferences{
  display: flex;
}

.columnPreferences{
  float:left;
  width: 20%;
  padding: 3px;
}


/* -------------------------------------------------------------------------------------------------------------- */
  
    .checkboxs{
      display: inline-block;
    }

  /* CONTENT VOITURES.php */

  .errorCarNotFind{
    margin-top: 40px;
    color: var(--accent-color-yellow);
  }
  
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/

  /* HEADER top-top */
  .header-top-top{
    background: var(--secondary-color);
    padding: 20px 0;
    text-align: left;
  }
  .logo {
    margin-bottom: 20px;
  }
  .box{
    position: sticky;
    margin-left: 10px;
  }
  

  /* HEADER top */
  .header-top{
    background: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
  }
  

  
  /*----------------------------------------------------------------------------------------------*/
  /* mid */

  /*----------------------------------------------------------------------------------------------*/
  /* DEROULANT */
  
  nav{
    z-index: 10;
    width: 100%;
    background-color: var(--secondary-color);
    transition: 0.5s;
  }
  
  nav ul{
    list-style-type: none;
  }
  
  nav ul li{
    float: left;
    width: 11%;
    text-align: center;
    position: relative;
  }
  
  nav ul::after{
    content: "";
    display: table;
    clear: both;
  }
  
  nav a{
    display: block;
    text-decoration: none;
    color: var(--accent-color-white);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
  }
  
  nav a:hover{
    color: var(--accent-color-yellow);

  }
  
  .sous{
    z-index: 10;
    display: none;
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  nav > ul li:hover .sous{
    display: block;
  }
  .sous li{
    float: none;
    width: 100%;
    text-align: left;
  }
  .sous a{
    padding: 10px;
    border-bottom: none;
  }
  .sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
    z-index: 100; 
  }
  .deroulant > a::after{
    font-size: 12px;
  }
  /*----------------------------------------------------------------------------------------------*/
  /* bot */

  
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
     /*----------------------------------------------------------------------------------------------*/
  /* voitures */
  
  /*AJOUTER FICHE */
.text-ajout-fiche{
  color: var(--accent-color-gray);
}

.error-ajout-fiche{
  color: var(--accent-color-yellow);
}

  .custom-button {
    display: block; /* Afficher le bouton comme un bloc */
    width: 400px; /* Largeur du bouton */
    height: 50px;
    margin: 0 auto; /* Centrer le bouton horizontalement */
    padding: 10px; /* Espace intérieur du bouton */
    font-size: 16px; /* Taille de la police */
    text-align: center; /* Centrer le texte */
    background-color: var(--accent-color-yellow); /* Couleur de fond */
    color: var(--secondary-color); /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
}

/* Style au survol */
.custom-button:hover {
    background-color: var(--secondary-color); /* Nouvelle couleur de fond au survol */
  color: var(--accent-color-yellow);
  transition: 0.2s;
}

  .btn-info,
    .btn-danger {
        padding: 6px 30px; /* Ajustez les valeurs de padding selon vos besoins */
        font-size: 14px; /* Ajustez la taille de police selon vos besoins */
    }

  .col-carburant {
    width: 120px; /* Ajustez la largeur selon vos besoins */
}

.col-marche {
    width: 170px; /* Ajustez la largeur selon vos besoins */
}

  .rowMetriques {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments si nécessaire */
    justify-content: space-between; /* Répartit les éléments sur la ligne */
}

/* Style pour chaque colonne contenant un select */
.columnMetriques {
    flex: 0 0 calc(33.33% - 10px); /* Ajuste la largeur de chaque colonne avec espace entre elles */
    margin-bottom: 10px; /* Espacement entre les colonnes */
    box-sizing: border-box; /* Inclut le padding dans le calcul de la largeur */
    background-color: #bf1d1d9b; /* Couleur de fond */
    border-radius: 4px; /* Coins arrondis */
}

/* Style pour chaque select */
.custom-select select {
    width: 100%; /* Remplit la largeur de la colonne */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

/* Media query pour rendre responsive */
@media (max-width: 768px) {
    .columnMetriques {
        flex: 0 0 100%; /* Sur mobile, chaque colonne prend toute la largeur */
    }
}


  .container-ajoutFiche {
    position: relative;
    max-width: 950px;
    margin: auto;
    overflow: hidden;
}
.slides-container-ajoutFiche {
  border: 2px solid #ccc; /* Style de la bordure en pointillés gris */
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 500px; /* Hauteur fixe pour toutes les images */
  overflow: hidden;
}

.slide {
  min-width: 100%;
  overflow: hidden;
}

/* Style pour l'image au-dessus du carrousel */
.featured-image {
  max-width: 800px;
  margin: 0 auto 20px;
}

.featured-image img {
  width: 100%;
  height: auto;
}

.image-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image-thumbnail:hover {
  background-color: var(--accent-color-yellow); /* Changer la couleur de fond au survol */
  transition: 0.2s;
}

.image-thumbnail {
  width: 192px; /* Largeur fixe pour les miniatures */
  height: 108px; /* Hauteur fixe pour les miniatures */
  border: 2px solid #ccc;
  margin: 0 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-thumbnail img {
  width: 100%; /* Redimensionner l'image pour s'adapter à la miniature */
  height: auto; /* Ajuster automatiquement la hauteur en fonction de la largeur */
  position: absolute;
  bottom: 0; /* Aligner l'image en bas à l'intérieur de la miniature */
  left: 0;
  transform: translateY(0%);
}

.image-thumbnail img.image-upload {
  width: 30%; /* Redimensionner l'image pour s'adapter à la miniature */
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgAjoutFiche {
  width: 100%;
  height: 110%;
  object-fit: cover; /* Ajuster l'image pour remplir le conteneur */
  object-position: center bottom; /* Positionner l'image centrée en bas */
  bottom: 0; /* Aligner l'image en bas à l'intérieur de la miniature */
}
.prevAjoutfiche {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    color: var(--accent-color-yellow);
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prevAjoutfiche:hover, 
.nextAjoutfiche:hover {
  color: var(--secondary-color);
  background: var(--accent-color-yellow);
  transition: 0.2s;
}
.nextAjoutfiche {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  background: var(--secondary-color);
  color: var(--accent-color-yellow);
    border: none;
    padding: 10px;
    cursor: pointer;
}







  
  
  .table-container {
    margin-bottom: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--accent-color-gray-fiche); /* Changer la couleur de fond du tableau */
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ccc;
}



.btn-danger {
  /* Couleur et style du bouton "Supprimer" */
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  padding: 6px 12px; /* Taille du bouton "Supprimer" */
  font-size: 14px;
}
.btn-danger:hover {
  /* Couleur et style du bouton "Supprimer" */
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #dc3545;
  padding: 6px 12px; /* Taille du bouton "Supprimer" */
  font-size: 14px;
  transition: 0.2s;
}

/* Style pour le bouton "Ajouter une ligne" */
#add {
  /* Reprendre les styles du bouton "Supprimer" pour uniformiser la taille */
  background-color: var(--accent-color-yellow);
  border-color: var(--accent-color-yellow);
  color: var(--secondary-color);
  font-size: 14px;
}

#add:hover {
  /* Reprendre les styles du bouton "Supprimer" pour uniformiser la taille */
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--accent-color-yellow);
  transition: 0.2s;
}

.center-button {
    text-align: center;
}

  section {
    height: 20%;
}
  
.side {
    margin-left: 0;
}
  

  


  
.flex-box {
    display: flex;
    justify-content: center;
}

.span-ajout-fiche {
  color: var(--accent-color-yellow);
  display: block; /* Pour que les spans occupent toute la largeur */
  margin-bottom: 10px; /* Ajoute une marge en bas */
}

.input-container {
  margin-bottom: 20px;
}


input.nom {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclure la bordure dans la largeur */
}

textarea.addFiche {
  width: 50%;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permettre le redimensionnement vertical */
}

input.addFiche{
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permettre le redimensionnement vertical */
}

.add-model-button {
  padding: 8px 16px; /* Espacement intérieur du bouton */
  font-size: 16px;
  background-color: var(--accent-color-yellow); /* Couleur de fond du bouton */
  color: var(--secondary-color); /* Couleur du texte du bouton */
  border-radius: 4px; /* Coins arrondis du bouton */
  cursor: pointer; /* Curseur pointeur au survol */
  transition: background-color 0.3s ease; /* Animation de transition */
}

/* Style au survol du bouton */
.add-model-button:hover {
  background-color: #0056b3; /* Nouvelle couleur de fond au survol */
  border-color: #0056b3; /* Nouvelle couleur de bordure au survol */
}

#charCount {
  font-weight: bold;
  color: var(--accent-color-yellow);
}


 
  /*---------------- DASHBOARD ----------------------*/

  /*AJOUTER CONSTRUCTEUR */

  .addDashboardConstructeur{
    float: left;
    margin-right: 80px;
  }

  .addConstructeur{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteConstructeurH3{
    font-size: 1em;
  }

  /*AJOUTER TYPE */
  
  .addDashboardType{
    float: left;
    margin-top: -22px;
    margin-right: 80px;
  }

  .addType{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteTypeH3{
    font-size: 1em;
  }

  /*AJOUTER MODELE */
  
  .addDashboardModele{
    float: left;
    margin-top: -44px;
    margin-right: 70px;
  }

  .addModele{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteModeleH3{
    font-size: 1em;
  }

  /*AJOUTER ANNEE */
  
  .addDashboardAnnee{
    float: left;
    margin-top: -66px;
    margin-right: 70px;
  }

  .addAnnee{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteAnneeH3{
    font-size: 1em;
  }

  /*AJOUTER PAYS */

  .addDashboardPays{
    float: left;
    margin-top: -90px;
    margin-right: 70px;
  }

  .addPays{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajoutePaysH3{
    font-size: 1em;
  }

  /*AJOUTER GROUPE */

  .addDashboardGroupe{
    float: left;
    margin-top: -115px;
    margin-right: 22px;
  }

  .addGroupe{
    background-color: rgb(255, 255, 255);
    border: dashed rgb(169, 179, 255);
    height: 35px;
    margin-left:  30px;
    width: 150px;
  }

  .ajouteGroupeH3{
    font-size: 1em;
  }

  /*---------------- DASHBOARD ----------------------*/
  
   /*AJOUTER CONSTRUCTEUR */

   @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  background: #d8ecff;
  border-radius: 0.25em;
  border-collapse: collapse;
}
.constructeurDash{
  float: left;
  width: 300px;
}
.typeDash{
  float: left;
  width: 300px;
}
.modeleDash{
  float: left;
  width: 300px;
}
.anneeDash{
  float: left;
  width: 300px;
}
.paysDash{
  float: left;
  width: 300px;
}
.groupeDash{
  float: left;
  width: 300px;
}
th {
  border-bottom: 1px solid #364043;
  color: #010634;
  font-weight: normal;
  font-size: 0.85em;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #000000;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #ff0000;
}
tbody tr {
  transition: background 0.25s ease;
}


/*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------*/
  
  /* FOOTER */

.footer {
  position: absolute;
  left: 0;
  width: 100%; /* Permet au footer de prendre toute la largeur de la page */
  background-color: var(--secondary-color);
  color: var(--accent-color-yellow);
  text-align: center;
  padding: 40px 0;
  bottom: 0;
}

.footer-content {
  max-width: 600px; /* Si vous souhaitez limiter la largeur du contenu du footer */
  margin: 0 auto; /* Centre le contenu du footer horizontalement */
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-right: 10px;
}

.socials li a {
  display: block;
  color: var(--accent-color-white);
  font-size: 24px;
  text-decoration: none;
}

.socials li a:hover {
  color: var(--accent-color-yellow); /* Couleur au survol */
  transition: 0.5s;
}

  
  
  /*----------------------------------FICHE------------------------------------------*/

  /*--------------CARD------------------*/



/*--------------CARD------------------*/



/* CARROUSEL PICTURES */

/*----------------------------------FICHE------------------------------------------*/

  