:root {
  --primary-color: #303030; /* Exemple de couleur principale */
  --secondary-color: #242423; /* Exemple de couleur secondaire */
  --accent-color-yellow: #F5CB5C; /* Exemple de couleur d'accentuation */
  --accent-color-white: #E8EDDF; /* Exemple de couleur d'accentuation */
  --accent-color-gray: #CFDBD5; /* Exemple de couleur d'accentuation */
  --accent-color-gray-fiche: rgba(255, 255, 255, 0.8); /* Exemple de couleur d'accentuation */


}
/*----------------------------------------------------------------------------------------------*/
/*body*/
body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
    background: var(--primary-color);
    min-height: 100vh;
    position: relative;
    min-height: 100vh;
    font-size: 100%
  }

.text{
  background-color: var(--secondary-color);
  text-align: center;
  font-size:1.2em;
}


  /*----------------------------------------------------------------------------------------------*/

  /* MAIN */

  main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 100px - 116px);
  }

  /*PATH*/

  .global-pathButtons{
    margin-top: 30px;
    margin-left: 116px;
  }
  .global-boutonPath{
    color: var(--accent-color-white);
  }
  .global-boutonPath:hover{
    color: var(--accent-color-gray);
  }
  .global-boutonPathActual{
    color: var(--accent-color-yellow);
  }
  .global-boutonPathActual:hover{
    color: var(--accent-color-yellow);
  }

/*---------------------------*/

  article {
    background-color: var(--accent-color-gray);
    padding: 20px;
    margin-bottom: 0px;
  }
  article:last-child {
    margin-bottom: 0;
  }
  article h1{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: var(--secondary-color);
  }

  article p{
    color: #141414;
    margin-top: 16px;
    line-height: 24px;
  }
  h4{
    color: #ff1e1e;
    text-align: center;
  }
.column {
  z-index: 1;
  float: left;
  width: 20%;
  padding: 3px;
  margin-top: 20px;
  position: relative;
}

  .row{
    margin-bottom: 200px;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;

  }

  @media screen and (max-width: 300px) {
    .column {
      width: 100%;
    }
  }

  .column{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
  .column:hover{
  opacity: .5;
  }
  #colonne{
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
/*-------------------------------------------------HEADER---------------------------------------------*/
.header-top-top {
  background: var(--secondary-color);
  padding: 20px 0;
  text-align: left;
}
.header .logo {
  margin-bottom: 20px;
}
.header .box {
  position: sticky;
  margin-left: 10px;
}

/* HEADER top */
.header-top {
  background: var(--secondary-color);
  padding: 20px 0;
  text-align: center;
}

/* DEROULANT */

.nav_header {
  z-index: 10;
  width: 100%;
  background-color: var(--secondary-color);
  transition: 0.5s;
  position: relative;
}

.nav_header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  float: left;
  width: 11%;
  text-align: center;
  position: relative;
}

.header nav ul::after {
  content: "";
  display: table;
  clear: both;
}

.header nav a {
  display: block;
  text-decoration: none;
  color: var(--accent-color-white);
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.header nav a:hover {
  color: var(--accent-color-yellow);
}

.header .sous {
  z-index: 10;
  display: none;
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.header nav > ul li:hover .sous {
  display: block;
}
.header .sous li {
  float: none;
  width: 100%;
  text-align: left;
}
.header .sous a {
  padding: 10px;
  border-bottom: none;
}
.header .sous a:hover {
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
  z-index: 100;
}
.header .deroulant > a::after {
  font-size: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header nav ul li {
    float: none;
    width: 100%;
    text-align: center;
  }

  .header .sous {
    position: static;
    display: none;
  }

  .header nav ul li.active .sous {
    display: block;
  }

  .header nav a {
    padding: 15px;
    border-bottom: none;
  }
}

/* Menu Toggle Button for Mobile */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    padding: 20px 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent-color-white);
    border: none;
    cursor: pointer;
  }

  .header nav ul {
    display: none;
    width: 100%;
  }

  .header nav.active ul {
    display: flex;
    flex-direction: column;
  }
}

/* Existing Styles */
/* ... */

/* Responsive Design */
@media (max-width: 768px) {
  .header nav {
    position: relative; /* Ensures the menu is positioned relative to the header */
  }

  .header nav ul {
    display: none; /* Initially hide the menu */
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute; /* Position absolutely to overlay the content */
    top: 100%; /* Position below the header */
    left: 0; /* Align to the left edge */
    z-index: 1000; /* Ensure it is above other content */
  }

  .header nav.active ul {
    display: flex; /* Show the menu when the header has the active class */
  }

  .header .sous {
    display: block; /* Show dropdowns within the menu */
    position: static; /* Ensure dropdowns are positioned normally */
    width: 100%; /* Full width of the menu */
  }

  .header nav ul li {
    float: none; /* Ensure list items take full width */
    width: 100%;
  }

  .header .sous a {
    padding: 15px; /* Adjust padding for touch screens */
  }

  .menu-toggle {
    display: block; /* Show the menu toggle button on small screens */
    background-color: var(--secondary-color);
    color: var(--accent-color-white);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
}
/* --------------BOUTONS AJOUT FICHE / MODIFICATION FICHE------------------ */
.btn-danger {
  /* Couleur et style du bouton "Supprimer" */
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  padding: 6px 12px; /* Taille du bouton "Supprimer" */
  font-size: 14px;
}
.btn-danger:hover {
  /* Couleur et style du bouton "Supprimer" */
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #dc3545;
  padding: 6px 12px; /* Taille du bouton "Supprimer" */
  font-size: 14px;
  transition: 0.2s;
}

/* Style pour le bouton "Ajouter une ligne" */
#add {
  /* Reprendre les styles du bouton "Supprimer" pour uniformiser la taille */
  background-color: var(--accent-color-yellow);
  border-color: var(--accent-color-yellow);
  color: var(--secondary-color);
  font-size: 14px;
}

#add:hover {
  /* Reprendre les styles du bouton "Supprimer" pour uniformiser la taille */
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--accent-color-yellow);
  transition: 0.2s;
}

.center-button {
    text-align: center;
}
.span-ajout-fiche {
  color: var(--accent-color-yellow);
  display: block; /* Pour que les spans occupent toute la largeur */
  margin-bottom: 10px; /* Ajoute une marge en bas */
}

.input-container {
  margin-bottom: 20px;
}
input.nom {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclure la bordure dans la largeur */
}

textarea.addFiche {
  width: 50%;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permettre le redimensionnement vertical */
}

input.addFiche{
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permettre le redimensionnement vertical */
}

#charCount {
  font-weight: bold;
  color: var(--accent-color-yellow);
}
/*------------------------------------------------FOOTER----------------------------------------------*/
.footer {
  position: absolute;
  left: 0;
  width: 100%; /* Permet au footer de prendre toute la largeur de la page */
  background-color: var(--secondary-color);
  color: var(--accent-color-yellow);
  text-align: center;
  padding: 40px 0;
  bottom: 0;
}

.footer-content {
  max-width: 600px; /* Si vous souhaitez limiter la largeur du contenu du footer */
  margin: 0 auto; /* Centre le contenu du footer horizontalement */
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-right: 10px;
}

.socials li a {
  display: block;
  color: var(--accent-color-white);
  font-size: 24px;
  text-decoration: none;
}

.socials li a:hover {
  color: var(--accent-color-yellow); /* Couleur au survol */
  transition: 0.5s;
}
/*----------------------------------DASHBOARD------------------------------------------*/
.dashboard-btn {
  color: var(--secondary-color);
  background-color: white;
  padding: 8px;
  border: 1px solid var(--secondary-color);
  font-size: 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 20%; /* Largeur du bouton */
  height: 40px; /* Hauteur spécifique pour uniformiser */
  transition: 0.2s;
}
.dashboard-btn:hover {
  color: white;
  transition: 0.2s;
  background-color: var(--secondary-color);
}
table {
  background: white;
  border-radius: 0.25em;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid #364043;
  color: #010634;
  font-weight: bold;
  font-size: 0.85em;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #000000;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}